*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

body{
    /* width:100%;
    height:100vh; */
    background-image: url(wallpaper.jpeg);
    background-position:center;
    background-size:cover; 
     background-repeat: no-repeat; 
    /* padding:0 7%; */
    
    background-attachment: fixed;

}

.gift-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30%;
    left : 50%;
    
}

.gift-container.active{
    animation: Vibration 1s ease forwards; 
}

@keyframes Vibration{
    0%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(.95,1.05);
    }
    50%{
        transform: scale(1.1,.9);
    }
    70%{
        transform: scale(.9,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}

.gift-container .gift-box{
    position: absolute;
    height: 100px;
    width: 150px;
    background:#ec9c4a;
    border-radius: 0px 0px 10px 10px;
    animation: Bounce 4s ease infinite;
}

@keyframes Bounce{
    0%{
        transform:translateY(-24px);
    }
    50%{
        transform:translateY(0px);
    }
    100%{
        transform:translateY(-24px);
    }
}

.gift-box.active{
    animation: none;
}

.gift-box::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 100px;
    background:#e76f51;
    left: 60px;

}

.gift-box::after{
    content: '';
    position: absolute;
    box-shadow: inset 0 10px rgb(0, 0, 0,0.3);
    width: 150px;
    height: 200px;
}

.click{
    position: absolute;
    background: #ec9c4a;
    width:180px ;
    height: 50px;
    top: -50px;
    left: -14px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
    transform: .5s ease;
}

.click.active{
    transition-delay: 0s;
    transform: translateY(-320px);
}
.click::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 50px;
    background: #e76f51;
    left: 75px;
    z-index: 2;

}

.click::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 0;
    border-bottom: 40px solid #e76f51;
    border-top: 40px solid #e76f51;
    border-left: 0px solid transparent;
    border-right: 40px solid transparent;
    transform: rotate(-90deg);
    top: -62px;
    left: 68px;
    z-index: 3;
}

#click{
    display: none;
}


/* 
.gift-container .shadow{
    content: '';
     position: relative; 
    width: 60px;
    height: 30px;
    background: rgb(0,0, 0, .4);
    top: 80px;
    border-radius: 50%;
    left: -3px; 
    animation: BounceOut 4s ease infinite forwards;
} */

 .text{
    position: absolute;
    transition: .5s;
    color: #e76f51;
    font-size: 10px;
    text-transform: capitalize;
    z-index: -1;
    left:-21px;
    scale: 0;
    background: whitesmoke;
    width: 200px;
    height:230px ;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    top: -160px;
   
} 

#click:checked~.text{
    scale:1;
    transform: translateY(-120px);
}
/*  
 .text.active{
    scale: 1;
    transform: translateY(-200px);
}  */

/* .text.active2{
    top: 0;
    transition-delay: .2s;
}  */

 .text img{
    width: 80px;
    margin: 20px;
 }

 .text button a{
   top: 100px;
 }

 .text button a{
    text-decoration: none;
   padding: 10px;
 }